<html>
  <head>
    <title>Submit a form</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Send a Message</h1>
      </div>
      <div id="main">
        <form method="post" action="{{ url_for('submitted_form') }}">
          <label for="email">Email:</label>
          <input type="email" name="email"><br />
          <label for="message">Message:</label>
          <textarea name="message"></textarea><br />
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>